# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Dataset and data files (do not upload large datasets to GitHub)
CUAD_v1/
*.pdf
*.txt
!requirements.txt

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Streamlit
.streamlit/

# macOS
.DS_Store
